.menuContainer {
  display: none;
}

.menuContainer h3 {
  padding: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.menuItem {
  display: block;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #71717a;
  transition: all 150ms ease-out;
}
.menuItem:hover {
  color: #f97316;
}

.active {
  background-color: #fafafa;
  color: #f97316;
}

@media screen and (min-width: 768px) {
  .menuContainer {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    flex-direction: column;
    background-color: #ffffff;
    min-width: 19.5rem;
  }
}
