.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section h2 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #71717a;
}

.section h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #181818;
  margin-top: 0.5rem;
}

.themeTextColor {
  color: #f2994a;
}

.imgWrapper {
  position: relative;
  aspect-ratio: 1.9;
}
